/*====================
========Footer========
======================*/

.footer {
    background-color: #ddd;
    bottom: 0%;
    color: #43484E;
    font-size: 1.3em;
    padding: 0.5em 0;
    position: relative;
    width: 100%;
    z-index: 4;

    p {
        margin: 0;
    }

    a {
        color: $secondary-color;
    }

    .footer-text {
        margin-left: 10px;
    }

    .social-links {
        margin-right: 10px;

        a {
            padding: 10px;
        }
    }
}