/*====================
==========Us==========
======================*/
.us {

    margin: 13em 0 2em 0;

    .heading {
        padding: 0;

        img {
            width: 100%;
        }

        .heading-text {
            margin: 0 3em;

            h2 {
                border-bottom: 2px solid $primary-color;
                color: $secondary-color;
                font-size: 2.5em;
                font-weight: 600;
                padding-bottom: 0.5em;
            }
    
            h4 {
                font-size: 2em;
                padding-top: 0.5em;
                text-align: justify;
            }	
        }

        #title-heading {
            background-color: rgba(0, 0, 0, 0.50);
            bottom: 30%;
            color: #fff;
            font-size: 3em;
            left:10%;
            padding-left: 1em;
            position: absolute;
            text-align: center;
            right: 10%; 
        }
    }

    .profiles-container{
        background: $grey-light;
        margin: 8em 0 4em 0;
        padding: 4em 0;
    }

    .profiles {

        .profile {
            margin-top: 2em;
            text-align: center;
    
            img {
                background-color: #fff;
                border: 0.4em solid #93E2D4;
                border-radius: 50%;
                height: 180px;
                line-height: 250px;
                width: 180px;
            }
    
            .button-more {
                @include button(1.5em,70%);
            }

            ul {
                padding: 0;
            }
    
            li {
                text-align: justify;
                font-size: 1.2em;
                margin-top: 1em;
            }
        }
    }

    .profiles-text {
    
        padding-right: 4em;

        h2 {
            border-bottom: 2px solid $primary-color;
            color: $secondary-color;
            font-size: 2.5em;
            font-weight: 600;
            padding-bottom: 0.5em;
        }

        h4 {
            font-size: 2em;
            padding-top: 0.5em;
            text-align: justify;
        }
    }

    .service-heading {

        padding: 0 3em;

        .service-title h2{
            border-bottom: 2px solid $primary-color;
            color: $secondary-color;
            font-size: 2.5em;
            font-weight: 600;
            padding-bottom: 0.5em;
        }

        .service-text h4{
            font-size: 2em;
            padding-top: 0.5em;
            text-align: justify;
        }
    }

    .services {

        margin: 3em 0;

        .single-service .service-text {
            
            .service-title {
                font-size: 2em;
                font-weight: 600;
            }
    
            .service-description {
                font-size: 1.2em;
            }	
        } 
    }

    @include respond-to('sm'){

        margin: 8em 0 2em 0;
        
        .heading {
    
            .heading-text {
                margin: 0;

                h2 {
                    font-size: 2.5em;
                }
        
                h4 {
                    font-size: 1.6em;
                    text-align: left;
                }
            }

            .heading-image {
                margin: 1em 0;
                padding: 0;
            }
        }

        .profiles-container {
            display: flex;
            flex-wrap: wrap;
            margin: 4em 0 4em 0;

            .profiles-text {
                margin: 0;
                order: 1;

                h2 {
                    font-size: 2.5em;
                }
        
                h4 {
                    font-size: 1.6em;
                    text-align: left;
                }
            }

            .profiles {
                margin-top: 0;
                order: 2;

                .profile {
                    margin-bottom: 1.5em;
                }
            }
        }

        .service-heading {

            padding: 0;

            .service-title h2{
                font-size: 2.75em;
                font-weight: 600;
            }
    
            .service-text h4{
                font-size: 1.75em;
                text-align: left;
            }
        }
    }

    @include respond-to('xs'){

        .service-heading {

            .service-title h2{
                font-size: 2.5em;
                font-weight: 600;
            }
    
            .service-text h4{
                font-size: 1.60em;
                text-align: left;
            }
        }
    }
}